* {
    margin: 0;
    padding: 0;
}

@font-face { 
    font-family: "GilroyBold";
    src: url("../fonts/GilroyBold.eot");
    src: url("../fonts/GilroyBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GilroyBold.ttf") format("woff"),
    url("../fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/GilroyMedium.eot");
    src: url("../fonts/GilroyMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GilroyMedium.woff") format("woff"),
    url("../fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
    font-family: "GilroyBold";
}

.container {
    margin: auto;
    padding: 0 20px;
    max-width: 1400px;
}

header {
    padding: 30px 0;
    width: 100%;
}

nav {

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_item {
    font-size: 18px;
    text-decoration: none;
    color: #828282;
    transition: 0.5s;
}

.menu_item:hover {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

a {
    text-decoration: none;
}

hr {
    background-color: #828282;
    width: 100%;
}

section {
    margin: 40px 0;
}

.Home {
    width: 100%;
}

.Home-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Home-title {
    font-size: 47px;
}

.Home-subtitle {
    font-size: 18px;
    font-family: "GilroyMedium";
}

li {
    list-style: none;
}

.Home-lang {
    transform: rotate(-90deg);
}

.my-image {
    width: 100%;
    margin-top: 40px;
}

.About-me {
    background-color: #F6F6F6;
    text-align: center;
    padding: 120px 0;
}

.About-me-title {
    font-size: 34px;
}

.About-me-subtitle {
    padding-top: 40px;
    font-size: 18px;
    font-family: "GilroyMedium";
}

.Skills {
    width: 100%;
    text-align: center;
    padding: 120px 0;
}

.Skills-title {
    font-size: 34px;
}

.Skills-subtitle {
    padding-top: 40px;
    font-size: 18px;
    font-family: "GilroyMedium";
}

.programs {
    font-family: "GilroyBold";
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.program {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.program-text {
    color: #828282;
}

.Portfolio {
    background-color: #F6F6F6;
    text-align: center;
    padding: 120px 0;
}

.Portfolio-title {
    font-size: 34px;
    margin-bottom: 40px;
}

.portfolio-item {
    width: 80%;
    margin: 10px 10%;
}

.Contacts {
    text-align: center;
    padding: 120px 0;
}

.Contacts-title {
    font-size: 34px;
}

.Contacts-subtitle {
    padding-top: 40px;
    font-size: 18px;
    font-family: "GilroyMedium";
}

.btn {
    width: 20%;
    margin: 0 auto;
}

.button {
    margin: 40px auto;
    padding: 10px 0;
    background-color: black;
    border-radius: 25px;
    border: solid 2px black;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
}

.hamburger {
    justify-content: flex-end;
    display: flex;
    position: relative;
    top: 30px;
    opacity: 0;
}

.hamburger-top,
.hamburger-center,
.hamburger-down{
    width: 40px;
    height: 4px;
    border: none;
    background: black;
    position: absolute;
    transition: .5s;
}

.hamburger-top {
    top: -16px;
}

.hamburger-down {
    top: 16px;
}

.icon.ac .hamburger-center {
    transform: rotate(-45deg);
}

.icon.ac .hamburger-top {
    top: 0;
    transform: rotate(45deg);
}

.icon.ac .hamburger-down {
    top: 0;
    transform: rotate(45deg);
}

.icon {
    right: 0;
    z-index: 2;
    display: block;
    cursor: pointer;
}

.icon_fixed {
    right: 0;
}

@media screen and (max-width: 992px)
{
    .btn {
        width: 30%;
    }

    .Home-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .Home-lang {
        display: none;
        opacity: 0;
    }

    .hamburger {
        opacity: 1;
    }

    .horizontal {
        display: none;
    }

    header {
        padding: 0;
    }

    .menu_item {
    font-size: 24px;
    margin-right: 40px;
    }
    
    .menu_item:hover {
        color: rgb(0, 0, 0);
        font-size: 27px;
    }
    
    .menu {
        display: none;
        width: 100%;
        height: 180px;
        background-color: #F6F6F6;
        z-index: 1;
        top: 0;
    }
    
    .hidden {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .SectionHome {
        margin-top: 0;
    }
}